In [1]:
import pandas as pd
# data manupulation
# clean, sort, statistics

In [11]:
df_wage = pd.read_csv('wage.csv')
df_wage.describe()

             wage        educ      exper
count  526.000000  526.000000  526.00000
mean     5.896103   12.562738   17.01711
std      3.693086    2.769022   13.57216
min      0.530000    0.000000    1.00000
25%      3.330000   12.000000    5.00000
50%      4.650000   12.000000   13.50000
75%      6.880000   14.000000   26.00000
max     24.980000   18.000000   51.00000