# 1. Introduction

In [1]:
1 + 2

3

In [2]:
(2+3.5) * 6 / (1.75-0.25)

22.0

In [3]:
1.5 ** 3

3.375

In [4]:
# Example 1
500*(1-0.05) - 230

245.0

# 2. Objects, Variables, and Data Types

## Variables and Assignment Statements

In [5]:
# Example 1
storage = 500
dump_rate = 0.05
sold = 230

# storage*(1-dump_rate) - sold

In [6]:
"""Storage is updated with a new value"""

storage = storage*(1-dump_rate) - sold
storage

245.0

In [7]:
# Example 2 - input
greetings = 'Hello '
name = input('Key in your name: ') # Assignment the output of input to name

print(greetings + name)

Key in your name: Peter
Hello Peter

In [9]:
"""Question"""
# x + y = 2
# x * y = 1
# 2 = x
xy = 2

In [11]:
"""Arithmetric Operators"""
x = 2
y = 3
x += y
print("Addition ", x)

x = 2
x -= y
print("Subtraction ", x)

x = 2
x *= y
print("Multiplication ", x)

x = 2
x /= y
print("Division ", x)

x = 2
x **= y
print("Power ", x)

Addition  5
Subtraction  -1
Multiplication  6
Division  0.6666666666666666
Power  8

## Built-in Data Types

In [12]:
"""Numeric types"""
storage = 5000
type(storage)

int

In [13]:
storage = 5000.0
type(storage)

float

In [14]:
storage = 5000
dump_rate = 0.05

type(storage * (1-dump_rate))

float

In [15]:
"""String"""
greeting = 'Hello DAO2702'
type(greeting)

str

In [16]:
storage_str = "5000.0"

type(storage_str)

str

In [17]:
print("I will not throw paper airplanes in class", 500)

I will not throw paper airplanes in class 500

In [18]:
# Example 3

input_str = input("Type something: ")

print('Your input is: ' + input_str*10)

Type something: 3
Your input is: 3333333333

In [19]:
"""Data Type Conversion"""

input_str = input("Type something: ")

print('Your input is: ' + str(float(input_str)*10))

Type something: 3
Your input is: 30.0

In [20]:
"""Question"""

a = 3.5
b = 1
print(str(a)*2 + str(b))

3.53.51

# 3. Strings, List and Dictionary

## String

In [21]:
"""Length of the string"""

len("Hello DAO2702")

13

In [24]:
"""Accessing Individual Characters"""
greetings = "Hello DAO2702"

letter_e = greetings[1] # Accessing the 2nd character "e"
print(letter_e)

letter_A = greetings[7] # Accessing the 8th character "A"
print(letter_A)

letter_2 = greetings[-1] # Accessing the last character "2"
print(letter_2)

letter_O = greetings[-5] # Accessing the last 5th character "O"
print(letter_O)

e
A
2
O

In [31]:
"""Slicing"""
greetings = "Hello DAO2702"

print(greetings[0:5:1]) # Print the first five characters
print(greetings[:5])

print(greetings[9:13:1]) # Print the last four characters
print(greetings[9:])
print(greetings[-4:13:1])
print(greetings[-4:])

print(greetings[0:13:2]) # Print the 1st, 3rd, 5th, ... characters
print(greetings[::2])

Hello
Hello
2702
2702
2702
2702
HloDO72
HloDO72

In [32]:
"""Question"""
sentence = "an easy quiz"

print(sentence[-8:-2])

asy qu

In [35]:
"""Range"""

name = input("What is your name? ")

for index in range(len(name)): # Iterate integers 0,1, ..., len(name)-1
    letter = name[index]
    if letter == ' ':
        continue
    
    print("Give me a " + letter + ": ")
    print(letter + "!!!")
    
print("What's the spell?")
print(name + "!!")

print("Go! Go! " + name + "!!")

What is your name? Jack
Give me a J:
J!!!
Give me a a:
a!!!
Give me a c:
c!!!
Give me a k:
k!!!
What's the spell?
Jack!!
Go! Go! Jack!!

In [36]:
"""Case conversion"""
line = "all work and no lay makes Jack a dull boy"

line_upper = line.upper()
line_lower = line.lower()
line_cap = line.capitalize()
line_swap = line.swapcase()
line_title = line.title()

print(line_upper)
print(line_lower)
print(line_cap)
print(line_swap)
print(line_title)

ALL WORK AND NO LAY MAKES JACK A DULL BOY
all work and no lay makes jack a dull boy
All work and no lay makes jack a dull boy
ALL WORK AND NO LAY MAKES jACK A DULL BOY
All Work And No Lay Makes Jack A Dull Boy

In [37]:
"""Find a character in a string"""

greetings = "Hello DAO2702"

print(greetings.find("DAO"))
print(greetings.find("2"))

6
9

In [48]:
# Example 4
name = input("Key in a name: ")

initial = name[0] # Get the first name initial
while True:
    index = name.find(' ') # Position of the first space
    if index == -1: # Break if no space found
        break
    initial = initial + name[index+1] # Add the letter after space
    name = name[index+1:] # Get a subset of name

print(initial)

Key in a name: John Fitzgerald Kennedy
JFK

## List

In [ ]:
# An empty list
I_feel_empty = []

# A list with the same data types
furious_five = ['Tigress','Crane','Mantis','Monkey','Viper']

# A list of mixed data types
my_answers = ['B','C',
              False, True,
              0.256]

In [50]:
"""Mutability"""
my_answers = ['B', 'C', False, True, 0.256]
print(my_answers) # Print the original list

my_answers[1] = 'D' # Modify the 2nd item in the list
print(my_answers) # Print the modified list

my_answers[2:4] = [True, False] # Modify the 3rd and 4th item 
print(my_answers) # Print the modified list

['B', 'C', False, True, 0.256]
['B', 'D', False, True, 0.256]
['B', 'D', True, False, 0.256]

In [51]:
greetings = "Hello DAO2702"

greetings[-1] = "3"

TypeError: 'str' object does not support item assignment

In [52]:
"""List methods"""
the_list = [1,2,3,4]
print(the_list)

the_list.append(5)
print(the_list)

another_list = [6,7,8,9]
the_list.extend(another_list)
print(the_list)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
the_list = [1,2,3,4]
the_list.insert(2, 'here') # Insert an item, with the index to be 2
print(the_list)

[1, 2, 'here', 3, 4]

In [56]:
the_list = [1, 2, 'here', 3, 4]
the_list.remove('here')
print(the_list)

[1, 2, 3, 4]

In [59]:
the_list = [1, 2, 'here', 3, 4, 'last item']
pop_item = the_list.pop(2)
print(pop_item)
print(the_list)

here
[1, 2, 3, 4, 'last item']

## Dictionary

In [62]:
personal_info = ['Jack Sparrow', 30, 'Black Pearl', 'Captain']

print('Name: ' + personal_info[0])
print('Age: ' + str(personal_info[1]))
print('Workplace: ' + personal_info[2])
print('Title: ' + personal_info[3])

Name: Jack Sparrow
Age: 30
Workplace: Black Pearl
Title: Captain

In [63]:
personal_info = {'name': 'Jack Sparrow', 
                 'age': 30, 
                 'workplace': 'Black Pearl', 
                 'title': 'Captain'}

print('Name: ' + personal_info['name'])
print('Age: ' + str(personal_info['age']))
print('Workplace: ' + personal_info['workplace'])
print('Title: ' + personal_info['title'])

Name: Jack Sparrow
Age: 30
Workplace: Black Pearl
Title: Captain

In [74]:
personal_info = {'name': 'Jack Sparrow', 
                 'age': 30, 
                 'workplace': 'Black Pearl', 
                 'title': 'Captain'}

# Accessing a value from key
print(personal_info['name'])

# Append new key:value pair
personal_info['status'] = 'single'
print(personal_info)

# Re-assign a value to a key
personal_info['status'] = 'married'
print(personal_info)

# remove value from dictionary

## Using pop()
personal_info.pop('status')
print(personal_info)

Jack Sparrow
{'name': 'Jack Sparrow', 'age': 30, 'workplace': 'Black Pearl', 'title': 'Captain', 'status': 'single'}
{'name': 'Jack Sparrow', 'age': 30, 'workplace': 'Black Pearl', 'title': 'Captain', 'status': 'married'}
{'name': 'Jack Sparrow', 'age': 30, 'workplace': 'Black Pearl', 'title': 'Captain'}

In [66]:
personal_info = {'name': 'Jack Sparrow', 
                 'age': 30, 
                 'workplace': 'Black Pearl', 
                 'title': 'Captain'}

for key in personal_info:
    value = personal_info[key]
    print(key.title() + ': ' + str(value))

Name: Jack Sparrow
Age: 30
Workplace: Black Pearl
Title: Captain

# 4. Control Flow Statements

## Boolean Type

In [75]:
"""Comparison operators"""
print(2 <= 3)
print(3.5 > 4)
print(2 == 2.0)
print(2 != 2.0)

True
False
True
False

In [76]:
"""Identity operators"""
print(0 == 0.0) # True because 0 and 0.0 have equal values
print(0 is 0.0) # False because they are not the same object

True
False

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\YANGJI~1\AppData\Local\Temp/ipykernel_26296/2167162243.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(0 is 0.0) # False because they are not the same object

In [ ]:
"""Membership operators"""
sentence = "All work and no play makes Jack a dull boy"