# 1. Introduction

In [1]:
## page 5 - 6
1 + 2

3

In [2]:
(2+3.5) * 6 / (1.75-0.25)

22.0

In [3]:
1.5 ** 3

3.375

In [4]:
## page 7
# Example 1
500*(1-0.05) - 230

245.0

# 2. Objects, Variables, and Data Types

## Variables and Assignment Statements

In [5]:
## page 13 - 18
# Example 1
storage = 500
dump_rate = 0.05
sold = 230

# storage*(1-dump_rate) - sold

In [6]:
## page 19 - 20
"""Storage is updated with a new value"""

storage = storage*(1-dump_rate) - sold
storage

245.0

In [7]:
## page 21
# Example 2 - input
greetings = 'Hello '
name = input('Key in your name: ') # Assignment the output of input to name

print(greetings + name)

Key in your name: Peter
Hello Peter

## Built-in Data Types

In [12]:
## page 26
"""Numeric types"""
storage = 5000
type(storage)

int

In [13]:
storage = 5000.0
type(storage)

float

In [14]:
storage = 5000
dump_rate = 0.05

type(storage * (1-dump_rate))

float

In [15]:
## page 27
"""String"""
greeting = 'Hello DAO2702'
type(greeting)

str

In [16]:
storage_str = "5000.0"

type(storage_str)

str

In [18]:
## page 28 - 29
# Example 3

input_str = input("Type something: ")

print('Your input is: ' + input_str*10)

Type something: 3
Your input is: 3333333333

In [19]:
## page 30
"""Data Type Conversion"""

input_str = input("Type something: ")

print('Your input is: ' + str(float(input_str)*10))

Type something: 3
Your input is: 30.0

# 3. Strings, List and Dictionary

## String

In [21]:
## page 34
"""Length of the string"""

len("Hello DAO2702")

13

In [24]:
## page 36 - 37
"""Accessing Individual Characters"""
greetings = "Hello DAO2702"

letter_e = greetings[1] # Accessing the 2nd character "e"
print(letter_e)

letter_A = greetings[7] # Accessing the 8th character "A"
print(letter_A)

letter_2 = greetings[-1] # Accessing the last character "2"
print(letter_2)

letter_O = greetings[-5] # Accessing the last 5th character "O"
print(letter_O)

e
A
2
O

In [1]:
## page 40 - 45

"""Slicing"""
greetings = "Hello DAO2702"

print(greetings[0:5:1]) # Print the first five characters

print(greetings[9:13:1]) # Print the last four characters

print(greetings[0:13:2]) # Print the 1st, 3rd, 5th, ... characters

Hello
2702
2702
HloDO72

In [36]:
## page 48

"""Case conversion"""
line = "all work and no lay makes Jack a dull boy"

line_upper = line.upper()
line_lower = line.lower()
line_cap = line.capitalize()
line_swap = line.swapcase()
line_title = line.title()

print(line_upper)
print(line_lower)
print(line_cap)
print(line_swap)
print(line_title)

ALL WORK AND NO LAY MAKES JACK A DULL BOY
all work and no lay makes jack a dull boy
All work and no lay makes jack a dull boy
ALL WORK AND NO LAY MAKES jACK A DULL BOY
All Work And No Lay Makes Jack A Dull Boy

In [37]:
## page 49
"""Find a character in a string"""

greetings = "Hello DAO2702"

print(greetings.find("DAO"))
print(greetings.find("2"))

6
9

## List

In [ ]:
## page 50
# An empty list
I_feel_empty = []

# A list with the same data types
furious_five = ['Tigress','Crane','Mantis','Monkey','Viper']

# A list of mixed data types
my_answers = ['B','C',
              False, True,
              0.256]

In [50]:
## page 52
"""Mutability"""
my_answers = ['B', 'C', False, True, 0.256]
print(my_answers) # Print the original list

my_answers[1] = 'D' # Modify the 2nd item in the list
print(my_answers) # Print the modified list

my_answers[2:4] = [True, False] # Modify the 3rd and 4th item 
print(my_answers) # Print the modified list

['B', 'C', False, True, 0.256]
['B', 'D', False, True, 0.256]
['B', 'D', True, False, 0.256]

In [52]:
## page 53
"""List methods"""
the_list = [1,2,3,4]
print(the_list)

the_list.append(5)
print(the_list)

another_list = [6,7,8,9]
the_list.extend(another_list)
print(the_list)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
## page 54
the_list = [1,2,3,4]
the_list.insert(2, 'here') # Insert an item, with the index to be 2
print(the_list)

[1, 2, 'here', 3, 4]

In [56]:
## page 55
the_list = [1, 2, 'here', 3, 4]
the_list.remove('here')
print(the_list)

[1, 2, 3, 4]

In [59]:
## page 56 - 57
the_list = [1, 2, 'here', 3, 4, 'last item']
pop_item = the_list.pop(2)
print(pop_item)
print(the_list)

here
[1, 2, 3, 4, 'last item']

## Dictionary

In [62]:
## page 59
personal_info = ['Jack Sparrow', 30, 'Black Pearl', 'Captain']

print('Name: ' + personal_info[0])
print('Age: ' + str(personal_info[1]))
print('Workplace: ' + personal_info[2])
print('Title: ' + personal_info[3])

Name: Jack Sparrow
Age: 30
Workplace: Black Pearl
Title: Captain

In [63]:
## page 60
personal_info = {'name': 'Jack Sparrow', 
                 'age': 30, 
                 'workplace': 'Black Pearl', 
                 'title': 'Captain'}

print('Name: ' + personal_info['name'])
print('Age: ' + str(personal_info['age']))
print('Workplace: ' + personal_info['workplace'])
print('Title: ' + personal_info['title'])

Name: Jack Sparrow
Age: 30
Workplace: Black Pearl
Title: Captain

In [74]:
## page 61
personal_info = {'name': 'Jack Sparrow', 
                 'age': 30, 
                 'workplace': 'Black Pearl', 
                 'title': 'Captain'}

# Accessing a value from key
print(personal_info['name'])

# Append new key:value pair
personal_info['status'] = 'single'
print(personal_info)

# Re-assign a value to a key
personal_info['status'] = 'married'
print(personal_info)

# remove value from dictionary

## Using pop()
personal_info.pop('status')
print(personal_info)

Jack Sparrow
{'name': 'Jack Sparrow', 'age': 30, 'workplace': 'Black Pearl', 'title': 'Captain', 'status': 'single'}
{'name': 'Jack Sparrow', 'age': 30, 'workplace': 'Black Pearl', 'title': 'Captain', 'status': 'married'}
{'name': 'Jack Sparrow', 'age': 30, 'workplace': 'Black Pearl', 'title': 'Captain'}

# 4. Control Flow Statements

## Boolean Type

In [75]:
## page 64
"""Comparison operators"""
print(2 <= 3)
print(3.5 > 4)
print(2 == 2.0)
print(2 != 2.0)

True
False
True
False

In [77]:
## page 65
"""Membership operators"""
sentence = "All work and no play makes Jack a dull boy"

print('work' in sentence)
print('Work' in sentence)

print('John' not in sentence)

True
False
True

In [78]:
## page 67
"""Logic operators"""
is_monday = True
is_public_holiday = False
is_weekends = False

no_school = is_public_holiday or is_weekends
have_dao2702 = is_monday and not is_public_holiday

print(no_school)
print(have_dao2702)

False
True

## If

In [79]:
## page 71 - 72
"""if"""
can_protect_earth = False

if not can_protect_earth:
    print("We'll avenge it!")
print('Avengers assemble!')

We'll avenge it!
Avengers assemble!

In [80]:
## page 74
"""if else"""
can_protect_earth = True

if not can_protect_earth:
    print("We'll avenge it!")
else:
    print("We'll celebrate it!")
print('Avengers assemble!')

We'll celebrate it!
Avengers assemble!

## While

In [3]:
## page 81
Dormammu_quit = False

while not Dormammu_quit:
    print("Dr. Strange: Dormammu, I've come to bargain!")
    Dormammu_says = input("Dorammu: ")
    if Dormammu_says == 'I quit' or Dormammu_says == 'You win':
        Dormammu_quit = True
        print('Dr. Stange: Wise choice bro!')
    else:
        print("Dr.Strange: Ah--------")
    print('\n')

Dr. Strange: Dormammu, I've come to bargain!
Dorammu: ss
Dr.Strange: Ah--------


Dr. Strange: Dormammu, I've come to bargain!
Dorammu: ss
Dr.Strange: Ah--------


Dr. Strange: Dormammu, I've come to bargain!
Dorammu: I quit
Dr. Stange: Wise choice bro!

In [8]:
## page 82 - 83
"""break"""
while True:
    print("Dr. Strange: Dormammu, I've come to bargain!")
    Dormammu_says = input("Dormammu: ")
    if Dormammu_says == 'I quit' or Dormammu_says == 'You win':
        print('Dr. Strange: Wise choice bro!')
        break
    else:
        print("Dr.Strange: Ah--------")
    print('\n')

Dr. Strange: Dormammu, I've come to bargain!
Dormammu: No
Dr.Strange: Ah--------


Dr. Strange: Dormammu, I've come to bargain!
Dormammu: I quit
Dr. Strange: Wise choice bro!

## For

In [6]:
## page 87 - 89
"""For Loop"""

Dormammu_says_quit = int(input("Dr. Strange: Dormammu, I've come to bargain! How many times will you then quit? "))

for i in range(Dormammu_says_quit):
    print("Dormammu: I do not quit * " + str(i+1))

print("Dormammu: I quit, you win! ")
print('Dr. Strange: Wise choice bro!')

Dr. Strange: Dormammu, I've come to bargain! How many times will you then quit? 5
Dormammu: I do not quit * 1
Dormammu: I do not quit * 2
Dormammu: I do not quit * 3
Dormammu: I do not quit * 4
Dormammu: I do not quit * 5
Dormammu: I quit, you win!
Dr. Strange: Wise choice bro!